@font-face {
  	_font-family: 		"roboto"; 
	_src: 				url("Abel-Regular.ttf");
}
@keyframes attention {
    from {transform: translateX(0%);}
    to   {transform: translateX(20%);}
}
.attention {
    animation-name:             attention;
    animation-duration:         0.2s;
    animation-iteration-count:  12;
    animation-direction:        alternate;
    animation-timing-function:  ease-in;
  	animation-delay: 			0.5s;
}
:root {
	--color-1-light:    #e88772; /* light Red  */
  	--color-1-medium:	#e26a4f; /* medium Red */
	--color-1-dark:     Crimson; /* dark Red   */

	--color-2-light:    #e9e1b5; /* light Pale  */
	--color-2-medium:   #e3daa3; /* medium Pale */
	--color-2-dark:     #b6af83; /* dark Pale   */

	--color-3-light:    #e5c576; /* light Gold  */
	--color-3-medium:   #dfb755; /* medium Gold */
	--color-3-dark:     #b39344; /* dark Gold   */

	--color-4-light:    #94b3a2; /* light Green  */
  	--color-4-medium:	#7aa08b; /* medium Green */
	--color-4-dark:     #628170; /* dark Green   */

    --color-5-high:     #acbed0;
	--color-5-light:	#4c5e70; /* helles Blaugrau */
  	--color-5-medium:	#3c4e60; /* medium Blaugrau */
	--color-5-dark:		#2c3e50; /* dunkles Blaugrau */
}

h1, h2, p {
    _font-family: roboto;
}
article h2, h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

body {
    font-size: 1.1em;
}

.text-info {
    color: var(--color-5-high) !important;
}

.lead {
    font-size: 1.5em;
    font-weight: lighter;
}

a {
    text-decoration:    none;
	color:				var(--color-4-medium);
}

.bg-secondary {
  	background-color:	var(--color-5-light) !important;
}
.bg-dark {
  	background-color:	var(--color-5-dark) !important;
}
.bg-primary {
    background-color:   var(--color-4-medium) !important;
}

hr {
    border-top:         1px solid Crimson;
    opacity:            1;
}

.textshadow {
    text-shadow: 		0px 0px 20px #000000;
}

blockquote {
	border-left: 		10px solid var(--color-1-medium);
	padding-left: 		1em;
    margin-top:         2em;
    margin-bottom:      2em;
}

/* --- Sorgt dafuer, das Bilder im Beitrag zentriert und 'img-fluid' sind --- */
article img {
    display:            block; 
    margin:             auto;
    max-width:          98%;
    height:             auto;
    _background-color:   #4c5e70;
    _background-color:   CadetBlue;
    border-radius:      5px;
    _box-shadow: 0px 0px 5px #aaa;
}
/* --- Bildunterschriften unter einem Code-Block --- */
article pre + p em {
    display:            block;
    font-size:          0.8em !important;
    color:              var(--txt-light);
    margin-left:        10px;
    margin-top:         -15px;
}
/* --- Bildunterschriften unter dem Foto ohne Leerzeile mit Stern-Bildunterstrift-Stern markiert --- */
article img + em {
    display:            block;
    font-size:          0.7em !important;
    color:              var(--txt-light);
    margin-left:        15px;
}